#topDiv {
    border-bottom: 1px solid black;
    width: 60%;
    margin: auto;
    display: flex;
    padding: 0px 70px 0px 70px;
}

#leftDiv {
    width: 100%;
    position: relative;
}

#rightDiv {
    width: 100%;
}

#name {
    color: #333333;
    line-height: 21px;
}

#type {
    color: #666666;
    line-height: 21px;
    padding: 0 0 4px 0;
}

#starBox {
    display: flex;
    margin-top: 4px;
    margin-bottom: 10px;
}

#price {
    margin-bottom: 10px;
}

#size {
    padding-bottom: 14px;
}

#offer {
    font-size: 14px;
    color: #CC0000;
    width: 80%;
}

#detailsModal {
    color: #666666;
    font-size: 12px;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 12px;
}

#receiveType {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 0 26px 0;
}

#addToCartDiv {
    padding: 20px 0 20px 0px;
    display: flex;
    gap: 1px;
}

#incDecButton {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    cursor: pointer;
    color: #333333;
}

#count {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    color: #333333;
}

#incDecButton:hover {
    background-color: #333333;
    color: #FFFFFF;
}

#addToCartButton {
    height: 35px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: #FFFFFF;
    cursor: pointer;
}

#addToCartButton:hover {
    background-color: #F2F2F2;
    color: #333333;
}

#socialIconsMainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.socialIconsDiv {
    border-radius: 50%;
    background-color: #999;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 17px 0px 17px;
    color: rgb(240, 240, 240);
    cursor: pointer;
}


#facebook:hover {
    background-color: rgb(70, 70, 183);
}

#twitter:hover {
    background-color: rgb(81, 194, 239);
}

#instagram:hover {
    background-color: rgb(70, 70, 183);
}

#pinterest:hover {
    background-color: crimson;
}

#heartDiv {
    position: absolute;
    right: 50px;
    top: 30px;
    cursor: pointer;
}

#reviewDiv {
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

#headDiv {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
}

#writeReviewButton:hover {
    background-color: #F2F2F2;
    color: #333333;
}

#reviewHead {
    background-color: #F2F2F2;
    color: #333333;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
}

.singleReviewDiv{
    margin: auto;
    padding: 10px 10px 10px 10px;
}